# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VSCode settings (if you're using it)
.vscode/

# macOS and Linux
.DS_Store